html.android #itunes {
	display: none;
}

body {
	font-family: "helvetica neue";
}

div#container {
	padding: 1rem;
	max-width: 400px;
	margin: 0 auto;
	box-sizing: border-box;
}

#artwork {
	margin: 0 auto;
	display: block;
	width: 100%;
}

#title {
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	margin-top: 0.5rem;
	margin-bottom: 0;
}

#artist {
	font-weight: 300;
	line-height: 0;
	color: #666;
}

#applink-list {
	list-style: none;
	padding-left: 0px;
	margin-top: 2rem;
	max-width: 400px;
	margin: 0 auto;
}

#applink-list li {
	border-bottom: 1px solid #F7F7F7;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}

#applink-list li:last-child {
	border-bottom: none;
}

#applink-list a {
	color: #5a93ff;
	text-decoration: none;
	font-size: 14px;
	line-height: 2;
	display: block;
}

#applink-list img {
	width: 24px;
	border-radius: 2px;
	margin-right: 0.35rem;
}